<!-- Modal -->
<h1 mat-dialog-title>Edit Application Configuration</h1>
    <div mat-dialog-content>
        <json-schema-form
          [options]="jsonFormOptions"
          [form]="jsonSchema"
          [(ngModel)]="configData"
          (onChanges)="trackChanges($event)">
        </json-schema-form>
    </div>
<div mat-dialog-actions class="pull-right">
    <button mat-button mat-stroked-button mat-dialog-close="cancel" tabindex="1">Cancel</button>
    <button mat-button mat-raised-button mat-dialog-close="save" color="primary" tabindex="2">Save</button>
</div>
