.mat-dialog-content {
  min-width: 1000px;
  width: 1000px;
}

material-design-framework {
	min-height: 75px;
}

::ng-deep .mat-tab-label:last-of-type {
  padding: 0px !important;
  justify-content: left !important;
}
