<!-- Modal -->
<h1 mat-dialog-title>Add Cluster Node</h1>
<div [formGroup]="form" mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Host">
        <ng-template mat-tab-label>
          <mat-icon>computer</mat-icon>&nbsp;Host
        </ng-template>
        <mat-card>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Host IP">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="SSH username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="SSH private key">
                </mat-form-field>

            </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Cloud">
        <ng-template mat-tab-label>
          <mat-icon>cloud</mat-icon>&nbsp;Cloud Node
        </ng-template>
        <mat-card>
            <mat-card-content>

                <mat-form-field class="vm_type_selection">
                    <mat-select id="id_instance_type" [formControl]="vmTypeCtrl">
                        <mat-select-trigger>
                            <div class="row">
                                <div class="col-md-6">{{ vmTypeCtrl.value?.name }}</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>memory</mat-icon></div>
                                        <div class="col-md-6"><span class="pull-right">{{ vmTypeCtrl.value?.vcpus }} VCPUs</span></div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>sim_card</mat-icon></div>
                                        <div class="col-md-8"><span class="pull-right">{{ vmTypeCtrl.value?.ram }} GB RAM</span></div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>storage</mat-icon></div>
                                        <div class="col-md-7"><span class="pull-right">{{ vmTypeCtrl.value?.size_total_disk }} GB Disk</span></div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                        </mat-select-trigger>
                        <mat-option class="full-width-container" disabled>
                            <div class="row">
                                <div class="col-md-6">VM Type</div>
                                <div class="col-md-2">CPUs</div>
                                <div class="col-md-2">RAM (GB)</div>
                                <div class="col-md-2">Total Disk (GB)</div>
                            </div>
                        </mat-option>
                        <mat-option class="full-width-container" *ngFor="let vmType of vmTypeObs | async | orderBy: 'name'" [value]="vmType">
                            <div class="row">
                                <div class="col-md-6">{{ vmType.name }}</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>memory</mat-icon></div>
                                        <div class="col-md-3"><span class="pull-right">{{ vmType.vcpus }}</span></div>
                                        <div class="col-md-6"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>sim_card</mat-icon></div>
                                        <div class="col-md-4"><span class="pull-right">{{ vmType.ram }}</span></div>
                                        <div class="col-md-5"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3"><mat-icon>storage</mat-icon></div>
                                        <div class="col-md-5"><span class="pull-right">{{ vmType.size_total_disk }}</span></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vmTypeCtrl.hasError('required')">Instance type is <strong>required</strong></mat-error>
                    <mat-placeholder><i *ngIf="vmTypeHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                        {{ vmTypeHelp }}</mat-placeholder>
                </mat-form-field>

            </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

</div>
<div mat-dialog-actions class="pull-right">
    <button mat-button mat-stroked-button mat-dialog-close="cancel" tabindex="1">Cancel</button>
    <button mat-button mat-raised-button mat-dialog-close="save" color="primary" tabindex="2" disabled="true">Add</button>
</div>
