<app-standard-layout>
    <page-body>
        <mat-card class="chart-card">
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="center stretch">
                <p fxFlex="100" fxLayoutAlign="center center">
                CloudMan is an extensible cloud manager that orchestrates all of the steps required to provision a complete compute cluster environment
                on a cloud infrastructure. CloudLaunch has been developed with contributions from the following projects:
                </p>
                <br /><br />
                <div class="credits">
                     <a href="https://galaxyproject.org/" target="_blank"><img src="assets/images/logo_galaxy.png"></a>
                 </div>
                 <div class="credits">
                     <a href="https://gvl.org.au/" target="_blank"><img src="assets/images/logo_gvl.svg"></a>
                 </div>
            </mat-card-content>
        </mat-card>
    </page-body>
</app-standard-layout>
