.credits img {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1);
	/* Google Chrome, Safari 6+ & Opera 15+ */
	max-width: 200px;
	max-height: 100px;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    margin: 20px;
}

/* Disable grayscale on hover */
.credits img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	max-width: 200px;
	max-height: 100px;
}

.frame {
	height: 130px; /* equals frame height */
}

/* COMPONENT TRANSITION ANIMATIONS */
:host {
	display: inline-block;
	width: 100%;
}
