<app-standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12 lead text-justify">
            <p>
            CloudMan is an extensible cloud manager that orchestrates all of the steps required to provision a complete compute cluster environment
            on a cloud infrastructure.
            </p><p>
            CloudLaunch has been developed with contributions from the following projects:
            </p>
        </div>
        <div class="container credits">
            <div class="col-lg-6  col-md-2 col-sm-4 col-xs-12 frame">
                 <a href="https://galaxyproject.org/" target="_blank"><img src="assets/images/logo_galaxy.png"></a>
             </div>
             <div class="col-lg-6  col-md-2 col-sm-4 col-xs-12 frame">
                 <a href="https://gvl.org.au/" target="_blank"><img src="assets/images/logo_gvl.jpg"></a>
             </div>
        </div>
    </page-body>
</app-standard-layout>
