<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Page header insertion point -->
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <ng-content select="page-header"></ng-content>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="primary-container-sidenav-container"
                     [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
          <!-- Page body insertion point -->
        <ng-content select="page-body"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
