<form>

    <div fxLayoutGap="16px">
        <span>
            <a mat-button aria-label="Project">Project:</a>
        </span>
        <span>
            <mat-form-field required>
                <mat-select id="id_project" [formControl]="projectCtrl" [compareWith]="compareProjectIds">
                    <mat-option *ngFor="let proj of projectsObs | async" [value]="proj">
                        {{ proj.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span>
            <button mat-mini-fab (click)="openCreateProjectDialog()" color="primary" matTooltip="Create New Project">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>

    <br/><br/>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="32px">
        <mat-card [ngClass]="chart.app_healthy ? 'chart-card-enabled': 'chart-card-disabled'"
                  fxFlex="0 1 calc(20% - 32px)" class="chart-card"
                  *ngFor="let chart of chartObs | async; trackBy: trackByChartId" appMaterialElevation>
            <mat-card-header>
                <img mat-card-avatar src="{{chart.install_template?.icon_url}}"
                     *ngIf="chart.install_template?.icon_url"/>
                <span *ngIf="!chart.install_template?.icon_url" mat-card-avatar>
                    <mat-icon>apps</mat-icon>
                </span>
                <mat-card-title>{{chart.install_template?.display_name || chart.display_name}}</mat-card-title>
                <mat-card-subtitle>{{chart.install_template?.maintainers || "&nbsp;"}}</mat-card-subtitle>
            </mat-card-header>
            <a href="{{ getAppURL(chart.values) }}" target="_blank">
                <img mat-card-image src="{{chart.install_template.screenshot_url || chart.install_template.icon_url}}"
                     *ngIf="chart.install_template?.screenshot_url || chart.install_template?.icon_url"
                     alt="Access {{chart.display_name}}" class="chart-image"/>
                <mat-progress-bar class="progress" mode="indeterminate" *ngIf="!chart.app_healthy"></mat-progress-bar>
            </a>
            <mat-card-content class="card-content">
                <p [innerHTML]="chart.install_template?.description"></p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-between">
                <button mat-button type="button" matTooltip="Upgrade Galaxy"
                        disabled="true">
                    <mat-icon>upgrade</mat-icon>
                </button>
                <button *ngIf="chart.permissions.change_chart; else place_holder_rollback" mat-button type="button"
                        matTooltip="Rollback to previous revision" (click)="rollbackChart(chart)">
                    <mat-icon>undo</mat-icon>
                </button>
                <ng-template #place_holder_rollback>
                    <button mat-button type="button" disabled>
                        <mat-icon>undo</mat-icon>
                    </button>
                </ng-template>
                <button *ngIf="chart.name=='galaxy' && chart.permissions.change_chart; else place_holder_configure"
                        mat-button type="button" matTooltip="Configure Galaxy"
                        (click)="openChartReconfigurationDialog(chart)">
                    <mat-icon>edit</mat-icon>
                </button>
                <ng-template #place_holder_configure>
                    <button mat-button type="button" disabled>
                        <mat-icon>edit</mat-icon>
                    </button>
                </ng-template>
            </mat-card-actions>
        </mat-card>
    </div>

    <br/><br/>

    <button mat-flat-button color="primary" (click)="openAddChartDialog()"
            *ngIf="projectCtrl?.value?.permissions?.change_project">
        <mat-icon>add</mat-icon>
        Add Application
    </button>
</form>
