table {
  width: 100%;
}

.mat-column-name {
  width: 20%;
}

.mat-column-updated {
  width: 20%;
}

.mat-column-access_address {
  width: 30%;
}

.mat-column-actions {
  width: 30%;
}

.text-inside-grid {
}

.project-header {
  position: absolute;
  left: 5px;
}
